.header {
  position: relative;
  height: 200px;
  width: 100%;
  
  border: 3px solid rgb(21, 0, 255);
  background-color: rgba(0, 0, 255, 0.17);
}
.centerPInDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  font-size: 5vh;
}

.subContainer {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  width: 99.5%;
  position: absolute;
  top: 213px;
  bottom: 300px;
  height: 500px;
}
.Aside1 {
  border: 3px solid brown;
  background-color: rgba(165, 42, 42, 0.303);
  flex: 1;
  width: 33.3%;
  height: 494px;
}
main {
  display: flex;
  flex-shrink: 1;
  flex-basis: 33.3%;
  border: 3px solid purple;
  background-color: rgba(128, 0, 128, 0.332);
}
.aside2 {
  display: flex;
  flex-shrink: 1;
  flex-basis: 31%;
  border: 3px solid rgb(128, 0, 0);
  background-color: rgba(188, 22, 22, 0.501);
}
footer {
  display: flex;
  flex-basis: 100%;
  height: 90px;
  border: 3px solid green;
  background-color: rgba(0, 128, 0, 0.377);
}
