header{
    position: fixed;
    height: 200px;
    width: 100%;
    border: 3px solid rgb(21, 0, 255);
}
.container1{
    position: relative;
    top: 200px;
    display: flex;
    width: 100%;
    height: 500px;
    border: 3px solid saddlebrown;
  }
  .Aside1{
    border: 3px solid black;
    width: 33%;

  }

  .subConteiner{
    display: flex;
    width: 100%;
    align-self: center;
    border: 3px solid rgb(255, 0, 170);
    height: 500px;

}
  main{
    border: 3px solid purple;
    width: 50%;
  }
.aside2{
    border: 3px solid rgb(128, 0, 0);
    width: 50%;
}
